.container {
  max-width: 350px;
  border: 1px solid black;
  display: flex;
}

.item {
  background-color: blue;
  margin: 5px;
  text-align: center;
  color: white;
  flex: 1;
}

.center {
  align-items: center;
}

.stretch {
  align-items: stretch;
}

.start {
  align-items: flex-start;
}

.end {
  align-items: flex-end;
}

.baseline {
  align-items: baseline;
}

.column {
  flex-direction: column;
}

.central {
  height: 300px;
  justify-content: center;
}

.central {
  flex: 0;
  padding: 20%;
}