.container {
  height: 400px;
  max-width: 300px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.item {
  background-color: blue;
  padding: 0 5px;
  flex: 1;
  text-align: center;
  color: white;
  margin: 5px
}

.stretch {
  align-content: stretch;
}

.center {
  align-content: center;
}

.start {
  align-content: flex-start;
}

.end {
  align-content: flex-end;
}

.between {
  align-content: space-between;
}

.around {
  align-content: space-around;
}

.column {
  flex-direction: column;
}